*/ *,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.second {
  padding: auto;
  border: 5px;
}

html,
body {
  height: 100%;
}

body {
  font-family: Bookman Old Style;
  background-image: url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
}

main {
  position: relative;
  width: 100%;
  height: auto;
}


section.component {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line if needed */
}

section.component p {
  flex: 1; /* Adjust the flex value as needed */
  margin-right: 20px; /* Add spacing between text and image */
}

section.component div.image {
  flex: 2;
  width: 100%;
}

section.component div.image img {
  width: 100%;
  height: auto;
}
/*
section.component div.image img:hover{
  /*width: 50%;
}
*/
.content {
  margin: 10px 10px 20px 10px;
}

.wrapper {
  min-height: 100vh; /* Change -50px to vh for better responsiveness */
  margin: 0 auto;
}

#parchment {
  position: absolute;
  display: flex;
  width: 75%;
  /* center page with absolute position */
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 2em 0;
  padding: 4em;
  box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
  background: #fffef0;
  /* v2.1 : borders effect with SVG : try to play with scale to change them */
  filter: url(#wavy2);
}

main h1,h2, main p {
  font-size: 2.25em;
  color: #7f3300;
  margin-top: 0.75em;
  text-align: left;
}

#labarum {
  width: 20%;
  /* Remove fixed margin and height */
}

#contain {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
  margin: 0 auto;
  padding: 4em;
}

.inkTitle {
  font-size: 3em;
  font-family: Pirata One, sans-serif;
  text-align: center;
  line-height: 3em;
  color: black;
  opacity: 0.6;
}



.cachet {
  /* image width = 210px and height = 250px */
  /*  5 is one common denominator 210 = 5 * 42 */
  width: calc((100vw * 5) / 42);
  height: auto;
  /* Height is auto ajusted */
  margin-top: 4rem;
  margin-left: auto;
}


#labarum img,
.cachet img {
  object-fit:cover;
  width: 100%;
  height: 100%;
}

/*
#signature {
  text-align: right;
  color: black;
  font-size: 250%;
}
*/

@media only screen and (max-width: 600px) {
  main h1,h2, main p {
    font-size: 1.25em;
    color: #7f3300;
    margin-top: 0.75em;
    text-align:left;
  }
}